# Node.js
node_modules/
package-lock.json
npm-debug.log

# Logs
logs/
*.log
*.log.*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
public/
*.tgz

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Python virtual environments
venv/
.env/
.env.bak/

# Compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Mac-specific files
*.DS_Store

# Windows-specific files
Thumbs.db
